<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="cordova-plugin-zalo" 
        version="1.0.0">

  <name>Zalo</name>
  <description>Integrate Zalo Login feature to Cordova App.</description>
  <repo>https://github.com/giaidieu/zalo.git</repo>
  <license>Apache 2.0</license>
  <keywords>cordova,zalo,zalo login,giaidieu,drupalapp</keywords>

  <!--
  <preference name="AppID" />
  <preference name="PackageName" />
  <preference name="HashKey" />
  -->

  <js-module src="www/zalo.js" name="Zalo">
    <clobbers target="Zalo" />
  </js-module>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Zalo">
        <param name="android-package" value="com.zalo.Zalo" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    
    <!-- Permissions -->
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <application android:name="com.zing.zalo.zalosdk.oauth.ZaloSDKApplication" />

      <!--Zalo SDK required WebLoginActivity -->
      <activity
        android:name="com.zing.zalo.zalosdk.oauth.WebLoginActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
        android:configChanges="orientation"
        android:screenOrientation="portrait">
      </activity>
    </config-file>

    <!-- Cordova plugin src files -->
    <source-file src="src/android/zalo.java" target-dir="src/com/zalo" />
  </platform>
  
  <!-- iOS -->
</plugin>
